.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.button {
  width: 200px;
  height: 60px;
  border-radius: 50px;
  border-width: 0;
  background-color: green;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#newIdeaTextArea {
  width: 300px;
  border: 1px solid gray;
  outline-color: green;
  border-radius: 5px;
  height: 100%;
  padding: 10px;
  font-size: 1rem;
}

.link-icon.twitter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 36px;
  padding: 4px 16px 4px 0px;
  cursor: pointer;
  color: #fff;
  border-radius: 60px;
  width: 200px;
  height: 40px;
  background-color: #1da1f2;
  background-image: url(./images/twitter.svg);
  background-repeat: no-repeat;
}
